<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form action="/productos" method="post">
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" id="password" name="password" required type="password">
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
<script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js}"></script>
</body>
</html>