<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Producto</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}">
    <link href="/images/favicon.png" rel="icon" type="image/png">
</head>
<body>
<div class="container">
    <!-- Incluir el fragmento del header -->
    <div th:replace="~{productos/header.html :: header}"></div>

    <h1>Actualizar Imagen Producto</h1>
    <!-- Agregando th:action="@{/productos/update/{id}(id=${id})}" en el formulario, aseguras que la ruta de acción sea
    la correcta y se envíe la solicitud POST correctamente al controlador. -->

    <dl class="row">
        <dt class="col-sm-2">ID:</dt>
        <dd class="col-sm-10" th:text="${producto.id}"></dd>
        <dt class="col-sm-2">Marca:</dt>
        <dd class="col-sm-10" th:text="${producto.marca}"></dd>
        <dt class="col-sm-2">Modelo:</dt>
        <dd class="col-sm-10" th:text="${producto.modelo}"></dd>
        <dt class="col-sm-2">Imagen:</dt>
        <dd class="col-sm-10"><img alt="Producto Image" class="img-fluid" th:src="${producto.imagen}"></dd>
    </dl>

    <form action="@{/productos/update-image/{id}(id=${id})}"
          enctype="multipart/form-data"
          method="post"
          th:action="@{/productos/update-image/{id}(id=${id})}"
          th:object="${producto}"
    >

        <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input accept="image/*" class="form-control-file" id="imagen" name="imagen" required type="file">
            <small class="text-danger" th:errors="*{imagen}" th:if="${#fields.hasErrors('imagen')}"></small>
            <input name="id" th:value="${producto.id}" type="hidden">
        </div>

        <button class="btn btn-primary" type="submit">Actualizar</button>
        <a class="btn btn-secondary mx-2" href="/productos">Volver</a>
    </form>
</div>

<!-- Incluir el fragmento del footer -->
<div th:replace="~{productos/footer.html :: footer}"></div>

<script th:src="@{/webjars/bootstrap/4.6.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
